<!-- Cards -->

<h2 class="titulo-ventas">Productos a la Venta</h2>
<div class="container">
    <div class="m-0 row justify-content-center">
        <div class="col-auto text-center m-1" style="margin-bottom: 20px;">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/extintores.png" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Extintores contra Incendios</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonExtintoresPolvo" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/señales.jpg" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Señales Fotoluminiscentes</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonSeñalesFotoluminiscenses" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/productos-seguridad.PNG" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Productos de Emergencia</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonProductosEmergencia" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/sistema-alarmas-incendios.jpg" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Kit de Alarmas contra Incendios</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonAlarmasIncendios" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cards final-->

<!-- Extintores Polvo -->
<div class="modal fade" id="botonExtintoresPolvo" tabindex="-1" aria-labelledby="BotonLabelExtintoresPolvo"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelExtintoresPolvo">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/extintores.png" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Extintores contra Incendios</h4>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Aprobación: NTP 3500431, NFPA-10 y/o UL.
                            Asimismo, se requiere certificado de aprobación
                            de prueba hidrostática para el recipiente.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Cargado con polvo químico seco ABC al 90 % a
                            base de fosfato monoamonico.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Recipiente de Fe LAF, traslapado, soldado con el
                            sistema MIG; decapado interior y exterior con
                            proceso ANTIRUSS, pintado al horno a 120°C.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Válvula de bronce y gatillo de fácil accionamiento.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Tubo sifón de 16 mm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Manómetro controlador de presión. Testado IRAM / CESMEC.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Manguera de 13 mm interior por 19 mm de exterior.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Soporte para manguera.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Pasador de seguridad acerado.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Soporte de metal para ser instalado en pared.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Señalética de ubicación de 20 x 30 cm
                            aproximadamente con leyenda.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar los Extintores...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Extintores Polvo fin -->

<!-- Modal Señales Fotoluminiscenses-->
<div class="modal fade" id="botonSeñalesFotoluminiscenses" tabindex="-1"
    aria-labelledby="BotonLabelSeñalesFotoluminiscenses" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelSeñales Fotoluminiscenses">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/señales.jpg" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Señales Fotoluminiscenses</h4>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Polímero semirrígido transparente de 0,7mm de espesor.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Estabilidad con Tª < 55º. </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    Absorción de agua despreciable (0,04 ± 0,01)%.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    Auto-extinguible.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    Sin contenido de plomo y fosforo apreciables (inferiores al 0,01%).
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    No toxico.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    Protección frente a los rayos UV (no ennegrece con el sol).
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                                    Tinta de gran adherencia y resistencia.
                                </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar las Señales Fotoluminiscenses...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Señales Fotoluminiscenses fin -->

<!-- Modal ProductosEmergencia -->
<div class="modal fade" id="botonProductosEmergencia" tabindex="-1" aria-labelledby="BotonLabelProductosEmergencia"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelProductosEmergencia">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/productos-seguridad.PNG" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Productos de Emergencia</h4>
                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Mochila de Emergencia</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Los tirantes contiene espuma epe alto impacto densidad de 1.0 cm de ancho.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            La manilla es goma forrada en PVC.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Cierre grueso N°10
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Cintas de poliéster de 2.5 cm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Media argollas metálicas niqueladas de 3.8 cm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Reflectante día y noche de 3 cm de ancho.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            TEJIDO/RECUBRIMIENTO: Malla de poliester recubierta de PVCpor ambas caras
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            PESO / M2: 795 gr. (24oz.) aprox
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            TRATAMIENTO: UV y FR.
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Luces de Emergencia
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Marca: Opalux</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Alimentación: 220 VAC
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Frecuencia: 60 Hz
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Potencia: 1.6 W
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Tipo de batería: Plomo ácido
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Tipo de carga: Automático

                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Cantidad de Led: 14 (7 x faro)
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Lumen: 150-170lm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Seguridad: IP42
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Tiempo de vida de Led: 20000-25000 horas
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar los Productos de Emergencia...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Seguridad y Proteccion fin -->

<!-- Modal AlarmasIncendios -->
<div class="modal fade" id="botonAlarmasIncendios" tabindex="-1" aria-labelledby="BotonLabelAlarmasIncendios"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelAlarmasIncendios">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/sistema-alarmas-incendios.jpg" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Kit de Alarmas contra Incendios</h4>
                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Estacion Manual</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Voltaje normal de servicio: 24 VCC.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Corriente promedio con LED destellando: 300 micro amperes.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Rango de temperatura de servicio: 32° a 120° F (0° a 49° C).
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Humedad relativa ambiente: 10 a 93%, sin condensación
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Sirena Estrobo Multitono</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            6 diferentes valores de Intensidad (Candela).</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            33 sonidos configurables.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Sonido de Sirena o Campana.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Placa de montaje Universal (caja rectangular simple y doble, octagonal o cuadrada de 4”)
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Un solo tornillo de montaje y para aplicaciones de Interior
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Detector de Humo Mircom</p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Aprobado por BASEEFA para EEx ia IIB T5 para uso en ambientes de riesgo hasta Zona 0.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Compatible con las bases estándar de sensores inteligentes
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Debe usarse en conjunto con módulo traductor IST200 y aislador Galvánico Y72221
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Interruptor de prueba incorporado
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Doble LED para visualización desde los 360º
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            <img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/000000/external-check-gloria-interface-skrata-royyan-wijaya.png"/>
                            Diseño de bajo perfil y comunicaciones analógicas direccionables confiables
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar Kit de Alarmas contra Incendios...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Asesoria y Elaboracion fin -->
