<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark colormenu navbar-web">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-around reducirNavbar barra-navegacion"
            id="navbarNavDropdown">

            <div class="logo-nabvar">
                <a class="navbar-brand" href="#"> <img src="assets/img/logo/AGM.png" alt="logo" width="90px"
                        height="75px"></a>

                <p class="texto-logo-navbar">Ingenieria y Servicios Generales</p>

            </div>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="color: #013a6a;" class="nav-link active" aria-current="page" href="index.html"><i
                            class="fas fa-home"></i> Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a style="color: #013a6a;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-briefcase"></i> Servicios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item item-navbar" href="servicioUno.html">Asesorías & Proyectos de
                                Ingeniería - Arquitectura</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item item-navbar" href="servicioDos.html">Servicios Generales en
                                Infraestructura & Ingenieria</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item item-navbar" href="servicioTres.html">Alquileres de Equipos &
                                Herramientas para la Construccion</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a style="color: #013a6a;" class="nav-link active" href="nosotros.html"> <i
                            class="fas fa-users"></i> Nosotros</a>
                </li>
                <li class="nav-item">
                    <a style="color: #013a6a;" class="nav-link active" href="contactanos.html"><i
                            class="fas fa-mobile-alt"></i> Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar fin -->

<!-- navbar-movil -->

<nav class="navbar navbar-light bg-light fixed-top navbar-movil">
    <div class="container-fluid">
        <a class="navbar-brand logo-movil-padre" href="index.html">
            <img class="logo-movil" src="assets/img/logo/AGM.png" alt="logo-movil">
            <p class="texto-logo-movil">Ingenieria y Servicios Generales</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title logo-movil-padre" id="offcanvasNavbarLabel">
                    <img class="logo-movil" src="assets/img/logo/AGM.png" alt="logo-movil">
                    <p class="texto-logo-movil">Ingenieria y Servicios Generales</p>
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a style="color: #013a6a;" class="nav-link active" aria-current="page" href="index.html"><i
                                class="fas fa-home"></i> Inicio</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a style="color: #013a6a;" class="nav-link dropdown-toggle active" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-briefcase"></i> Servicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item item-navbar" href="servicioUno.html">Asesorías & Proyectos
                                    de Ingeniería - Arquitectura</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item item-navbar" href="servicioDos.html">Servicios Generales en
                                    Infraestructura & Ingenieria</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item item-navbar" href="servicioTres.html">Alquileres de Equipos
                                    & Herramientas para la Construcción</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a style="color: #013a6a;" class="nav-link active" href="nosotros.html"> <i
                                class="fas fa-users"></i> Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #013a6a;" class="nav-link active" href="contactanos.html"><i
                                class="fas fa-mobile-alt"></i> Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- navbar-movil-fin -->

<!-- BOton Flotante -->
<div class="btncontainer">
    <input type="checkbox" id="btn-mas">
    <div class="redes">
        <a href="https://www.facebook.com/Agm.Ing.y.Ser" class="fa fa-facebook" target="_blank"></a>
        <a href="https://twitter.com/agmingenieriasg" class="fab fa-twitter" target="_blank"></a>
        <a href="https://www.instagram.com/agmingenieria/?hl=es-la" class="fab fa-instagram" target="_blank"></a>
        <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Nececito más información de sus servicios que ofrece en su WebSite!"
            class="fab fa-whatsapp" target="_blank"></a>
        <a href="mailto:gerencia.agmingenieria@gmail.com?subject=Quiero%20más%20información%20de%20sus%20servicios&body=Hola,%20te%20contacto%20desde%20tu%20WebSite%20y%20me%20interesa%20adquirir%20un%20servicio...!"
            class="fas fa-envelope"></a>
        <a href="tel:+51943359199" class="fas fa-phone"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="fa fa-plus"></label>
    </div>
</div>
<!-- BOton Flotante FIn-->

<!-- carrusel -->
<main class="principal-main">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/slider/servicio-1.png" class="d-block w-100 tamaño-carrusel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo-servicios texto-carrusel">Asesorías & Proyectos de Ingeniería - Arquitectura
                    </h3>
                    <a href="servicioUno.html" class="btn btn-primary botonprincipal align-content-center">Ver
                        más</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slider/servicio-2.png" class="d-block w-100 tamaño-carrusel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo-servicios texto-carrusel">Servicios Generales en Infraestructura & Ingenieria
                    </h3>
                    <a href="servicioDos.html" class="btn btn-primary botonprincipal align-content-center">Ver
                        más</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/slider/servicio-3.png" class="d-block w-100 tamaño-carrusel" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo-servicios texto-carrusel">Servicio de Alquileres de Equipos & Herramientas
                        para la Construccion</h3>
                    <a href="servicioTres.html" class="btn btn-primary botonprincipal align-content-center">Ver
                        más</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>

<h2>Productos a la Venta</h2>
<div class="container">
    <div class="m-0 row justify-content-center">
        <div class="col-auto text-center m-1" style="margin-bottom: 20px;">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/extintores.png" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Extintores contra Incendios</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonExtintoresPolvo" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/señales.jpg" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Señales Fotoluminiscentes</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonSeñalesFotoluminiscenses" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/productos-seguridad.PNG" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Productos de Emergencia</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonProductosEmergencia" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
        <div class="col-auto text-center m-1">
            <div class="card" style="width: 15rem; text-align: center;">
                <img src="assets/img/card/sistema-alarmas-incendios.jpg" class="card-img-top cards-imagen" alt="...">
                <div class="card-body">
                    <h5 class="card-title inicio-titulo">Kit de Alarmas contra Incendios</h5>
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary boton-secundario"
                        data-bs-target="#botonAlarmasIncendios" style="align-items: center;">Mostrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cards final-->

<!-- Extintores Polvo -->
<div class="modal fade" id="botonExtintoresPolvo" tabindex="-1" aria-labelledby="BotonLabelExtintoresPolvo"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelExtintoresPolvo">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/extintores.png" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Extintores contra Incendios</h4>
                        <p style="justify-content: center;" class="texto-modal">
                            Aprobación: NTP 3500431, NFPA-10 y/o UL.
                            Asimismo, se requiere certificado de aprobación
                            de prueba hidrostática para el recipiente.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Cargado con polvo químico seco ABC al 90 % a
                            base de fosfato monoamonico.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Recipiente de Fe LAF, traslapado, soldado con el
                            sistema MIG; decapado interior y exterior con
                            proceso ANTIRUSS, pintado al horno a 120°C.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Válvula de bronce y gatillo de fácil accionamiento.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Tubo sifón de 16 mm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Manómetro controlador de presión. Testado IRAM / CESMEC.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Manguera de 13 mm interior por 19 mm de exterior.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Soporte para manguera.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Pasador de seguridad acerado.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Soporte de metal para ser instalado en pared.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Señalética de ubicación de 20 x 30 cm
                            aproximadamente con leyenda.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar los Extintores...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Extintores Polvo fin -->

<!-- Modal Señales Fotoluminiscenses-->
<div class="modal fade" id="botonSeñalesFotoluminiscenses" tabindex="-1"
    aria-labelledby="BotonLabelSeñalesFotoluminiscenses" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelSeñales Fotoluminiscenses">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/señales.jpg" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Señales Fotoluminiscenses</h4>
                        <p style="justify-content: center;" class="texto-modal">
                            Polímero semirrígido transparente de 0,7mm de espesor.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Estabilidad con Tª < 55º. </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    Absorción de agua despreciable (0,04 ± 0,01)%.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    Auto-extinguible.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    Sin contenido de plomo y fosforo apreciables (inferiores al 0,01%).
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    No toxico.
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    Protección frente a los rayos UV (no ennegrece con el sol).
                                </p>
                                <p style="justify-content: center;" class="texto-modal">
                                    Tinta de gran adherencia y resistencia.
                                </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar las Señales Fotoluminiscenses...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Señales Fotoluminiscenses fin -->

<!-- Modal ProductosEmergencia -->
<div class="modal fade" id="botonProductosEmergencia" tabindex="-1" aria-labelledby="BotonLabelProductosEmergencia"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelProductosEmergencia">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/productos-seguridad.PNG" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Productos de Emergencia</h4>
                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Mochila de Emergencia</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Los tirantes contiene espuma epe alto impacto densidad de 1.0 cm de ancho.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            La manilla es goma forrada en PVC.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Cierre grueso N°10
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Cintas de poliéster de 2.5 cm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Media argollas metálicas niqueladas de 3.8 cm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Reflectante día y noche de 3 cm de ancho.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            TEJIDO/RECUBRIMIENTO: Malla de poliester recubierta de PVCpor ambas caras
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            PESO / M2: 795 gr. (24oz.) aprox
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            TRATAMIENTO: UV y FR.
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Luces de Emergencia
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Marca: Opalux</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Alimentación: 220 VAC
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Frecuencia: 60 Hz
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Potencia: 1.6 W
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Tipo de batería: Plomo ácido
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Tipo de carga: Automático

                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Cantidad de Led: 14 (7 x faro)
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Lumen: 150-170lm
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Seguridad: IP42
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Tiempo de vida de Led: 20000-25000 horas
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar los Productos de Emergencia...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Seguridad y Proteccion fin -->

<!-- Modal AlarmasIncendios -->
<div class="modal fade" id="botonAlarmasIncendios" tabindex="-1" aria-labelledby="BotonLabelAlarmasIncendios"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title titulo-modal" id="BotonLabelAlarmasIncendios">Producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <img src="assets/img/card/sistema-alarmas-incendios.jpg" class="cards-imagen">
                    </div>
                    <div class="col-auto">
                        <h4 class="arreglar" style="font-weight: bold;">Kit de Alarmas contra Incendios</h4>
                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Estacion Manual</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Voltaje normal de servicio: 24 VCC.</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Corriente promedio con LED destellando: 300 micro amperes.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Rango de temperatura de servicio: 32° a 120° F (0° a 49° C).
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Humedad relativa ambiente: 10 a 93%, sin condensación
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Sirena Estrobo Multitono</p>
                        <p style="justify-content: center;" class="texto-modal">
                            6 diferentes valores de Intensidad (Candela).</p>
                        <p style="justify-content: center;" class="texto-modal">
                            33 sonidos configurables.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Sonido de Sirena o Campana.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Placa de montaje Universal (caja rectangular simple y doble, octagonal o cuadrada de 4”)
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Un solo tornillo de montaje y para aplicaciones de Interior
                        </p>

                        <p style="justify-content: center; font-weight: bold; font-size: 18px; margin-top: 18px;"
                            class="texto-modal">
                            Detector de Humo Mircom</p>
                        <p style="justify-content: center;" class="texto-modal">
                            Aprobado por BASEEFA para EEx ia IIB T5 para uso en ambientes de riesgo hasta Zona 0.
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Compatible con las bases estándar de sensores inteligentes
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Debe usarse en conjunto con módulo traductor IST200 y aislador Galvánico Y72221
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Interruptor de prueba incorporado
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Doble LED para visualización desde los 360º
                        </p>
                        <p style="justify-content: center;" class="texto-modal">
                            Diseño de bajo perfil y comunicaciones analógicas direccionables confiables
                        </p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Me interesa comprar Kit de Alarmas contra Incendios...!"
                    type="button" class="btn btn-success boton-modal fab fa-whatsapp" target="_blank"> ¡Me
                    interesa!</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Asesoria y Elaboracion fin -->

<!-- Banner -->
<section class="banner" style="margin-bottom: 35px; margin-top: 35px;">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col align-self-center regran-texto p-3">
                <h3 style="text-align: left;"><b>AGM</b> Ingenieria y Servicios Generales</h3>
                <br />
                <h4><i>"Comprometidos con la seguridad y el bienestar de sus colaboradores"</i></h4>
            </div>
            <div class="col align-self-center regran-imagen">
                <img src="assets/img/banner/banner-persona.png" alt="persona-pensante" class="tamaño-imagen-banner">
            </div>
        </div>
    </div>
</section>

<h2>Nuestros Clientes</h2>

<div class="carrusel container clientes">
    <div class="carrusel-items">
        <div class="carrusel-item">
            <img src="assets/img/clientes/agroberries.png" alt="Agoberries" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/asica.svg" alt="Asica" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/cajadelsanta.png" alt="Caja del Santa" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/incacel.png" alt="IncaCel" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/petroperu.png" alt="PetroPeru" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/prosema.jpg" alt="Prosema" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/saludprimavera.png" alt="Salud Primavera" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/sanantonio.png" alt="SanAntonio" />
        </div>
        <div class="carrusel-item">
            <img src="assets/img/clientes/upn.jpeg" alt="UPN" />
        </div>
    </div>
</div>

<!-- cliente fin -->
<!-- Footer -->

<footer class="text-center text-lg-start bg-light text-muted">
    <section class="banner">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Contáctate con nosotros a trávez de nuestras redes sociales:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/Agm.Ing.y.Ser" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/agmingenieriasg" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/agmingenieria/?hl=es-la" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=+51943359199&text=Hola, Nececito más información de sus servicios que ofrece en su WebSite!"
                    class="me-4 text-reset" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>AGM - INGENIERIA Y SERVICIOS GENERALES
                        </h6>
                        <p>
                            Brindamos servicios relacionados a:
                            <br />
                            - Consultoria
                            <br />
                            - Ingeniería,
                            <br />
                            - Ejecución de proyectos de Obras Civiles
                            <br />
                            - Entre otros
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Servicios
                        </h6>
                        <p>
                            <a href="servicioUno.html" class="text-reset pie-de-pagina">Asesorías & Proyectos de
                                Ingeniería - Arquitectura</a>
                        </p>
                        <p>
                            <a href="servicioDos.html" class="text-reset pie-de-pagina">Servicios Generales en
                                Infraestructura & Ingenieria</a>
                        </p>
                        <p>
                            <a href="servicioTres.html" class="text-reset pie-de-pagina">Servicio de Alquileres de
                                Equipos & Herramientas para la Construccion</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contacto
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Urb. San Eloy Mz.F Lt.15, Trujillo, Peru, 13001</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            gerencia.agmingenieria@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 51 943 359 199</p>
                        <p><i class="fas fa-phone me-3"></i> + 51 923 520 364</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <script>
                var f = new Date();
                document.write("© " + f.getFullYear());
            </script> Copyright:
            <a class="text-reset fw-bold pie-de-pagina" href="https://www.facebook.com/Agm.Ing.y.Ser"
                target="_blank">AGM - INGENIERIA Y SERVICIOS GENERALES</a>
        </div>
        <!-- Copyright -->
    </section>
</footer>
<!-- footer final -->
