html {
    scroll-behavior: smooth;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #174e81;
  }
  
  
  body{
      background-color: #f4f5f7;
  }
  
  h2{
      margin: 40px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      color: #666666;
  }
  
  h3{
      font-size: 1.9rem;
  }
  
  h4{
      font-size: 1.5rem;
  }
  
  h5{
      font-size: 1.5rem;
      font-weight: 600;
  }
  
  .titulo-servicios{
      background-color: rgba(250, 12, 12, 0.822);
      /* background-color: rgba(2, 2, 2, 0.555); */
      /* color: #000; */
      font-weight: 700;
      border-radius: 10px;
      border: 3px solid #fff;
  }
  
  /* NAVBAR */
  .colormenu{
      background-color: #fff;
      /* height: 100px; */
      font-weight: 500;
  }
  
  .colormenu-secundario{
      background-color: #174e81;
  }
  
  .servicio:hover{
      font-weight: 600;
      transition: 0.1s;
  }
  
  @media(min-width:140px) and (max-width:746px) {
  
      .barra-navegacion{
          flex-direction: column;
      }
  
  }
  
  .logo-nabvar{
      display: flex;
      flex-direction: row;
  }
  
  .texto-logo-navbar{
      margin-top: 30px;
      /* background-color: red; */
      color: #174e81;
      font-weight: 700;
      font-size: 20px;
      font-family: Arial;
      font-style: italic;
      
  }
  
  .texto-logo-navbar-2{
      margin-top: 30px;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      font-family: Arial;
      font-style: italic;
  }
  
  .logo-movil-padre{
      display: flex;
      flex-direction: row;
  }
  
  .texto-logo-movil{
      padding-top: 20px;
      padding-left: 8px;
      font-size: 15px;
      font-style: italic;
      color: #174e81;
      font-weight: 500;
  }
  
  @media(min-width:150px) and (max-width:500px){
      .item-navbar{
          font-size: 12px;
      }
  }
  
  /* Navbar movil */
  
  @media(min-width:1401px) and (max-width:2500px){
      .navbar-movil{
          display: none;
      }
      .tama単o-carrusel{
          height: 750px;
      }
  }
  
  @media(min-width:416px) and (max-width:1400px){
      .navbar-movil{
          display: none;
      }
  }
  
  @media(min-width:100px) and (max-width:415px){
      .navbar-web{
          display: none;
      }
      .principal-main{
          margin-top: 78px;
      }
      .logo-movil{
          height: auto;
          width: 45px;
          padding: 0;
      }
  }
  
  /* NAVBAR */
  
  /* BANNER */
  
  .banner{
      /* background-color: #ff0000; */
      background-color: #174e81;
      color: #FFF;
  }
  .botonprincipal{
      color: #fff;
      margin: 10px;
      background-color: #ff0000;
      border-color: #ff0000;
      font-size: 17px;
      font-weight: bold;
      width: 15%;
      text-transform: uppercase;
      /* transition: 0.5s; */
  }
  .botonprincipal:hover{
      background-color: #fff;
      color: #ff0000;
      border: 3px solid #ff0000;
      transition: all .3s ease;
     
  }
  
  .tama単o-imagen-banner{
      height: 340px;
  }
  
  @media(min-width:240px) and (max-width:969px) {
  
      .regran-texto{
          margin-top: 30px;
          margin-bottom: 30px;
      }
  
      .regran-imagen{
          margin-bottom: 30px;
      }
  
  }
  
  @media(min-width:880px) and (max-width:1100px) {
  
      .tama単o-imagen-banner{
          height: 250px;
      }
  
  }
  
  @media(min-width:200px) and (max-width:880px) {
  
      .tama単o-imagen-banner{
          height: 150px;
      }
  
  }
  
  /* ZOOM IMG SERVICIOS */
  
  .zoom{
      transition: all .3s ease;
  }
  .zoom:hover{
      transform: scale(1.2);
  }
  
  /* SERVICIO 1 */
  
  .navbar-movil-secundario{
      background-color: #174e81;
  }
  
  
  .imagen-servicio{
      border-radius: 10px;
      width: 700px;
      height: 350px;
  }
  
  .imagen-servicio-doble{
      border-radius: 10px;
      width: 500px;
      height: 350px;
  }
  
  .titulo-servicio{
      margin-top: 60px;
      margin-bottom: 60px;
  }
  
  .cuerpo-servicio{
      margin-bottom: 60px;
  }
  
  .servicioOne{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
  }
  
  .imagenDosServicioUno{
      margin-top: 40px;
  }
  
  @media(min-width:720px) and (max-width:920px){
      .imagen-servicio{
          width: 500px;
          height: 250px;
      }
  }
  @media(min-width:420px) and (max-width:719px){
      .imagen-servicio{
          width: 400px;
          height: 200px;
      }
  
      .imagen-servicio-doble{
          width: 400px;
          height: 250px;
      }
  }
  
  @media(min-width:480px) and (max-width:719px){
      .imagen-servicio{
          width: 400px;
          height: 200px;
      }
  
      .imagen-servicio-doble{
          width: 400px;
          height: 250px;
      }
  }
  
  @media(min-width:300px) and (max-width:479px){
      .imagen-servicio{
          width: 280px;
          height: 140px;
      }
  
      .imagen-servicio-doble{
          width: 280px;
          height: 200px;
      }
  }
  
  /* BOTON FLOTANTE */
  
  #btn-mas{
      display: none;
  }
  .btncontainer{
      position: fixed;
      bottom: 20px;
      right: 20px;
  }
  .redes a, .btn-mas label{
      display: block;
      text-decoration: none;
      background: #2b6bcc;
      color: #fff;
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
      transition: all 500ms ease;
  }
  .redes a:hover{
      background: #fff;
      color: #ff0000;
  }
  .redes a{
      margin-bottom: -15px;
      opacity: 0;
      visibility: hidden;
  }
  #btn-mas:checked~ .redes a{
      margin-bottom: 10px;
      opacity: 1;
      visibility: visible;
  }
  .btn-mas label{
      cursor: pointer;
      background: #ff0000;
      font-size: 23px;
  }
  #btn-mas:checked ~ .btn-mas label{
      transform: rotate(135deg);
      font-size: 25px;
  }
  
  
  
  /* SERVICIO 2 */
  
  .imagen-servicio-dos{
      border-radius: 10px;
  
  }
  
  .servicioTwo{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 60px;
  }
  
  .imagenesServicioDos{
      margin-top: 40px;
  }
  
  /* SERVICIO 3 */
  
  .imagen-servicio-tres{
      border-radius: 10px;
  
  }
  
  /* .servicioThree{
      margin-bottom: 60px;
  } */
  
  .imagenesServicioTres{
      margin-top: 40px;
  }
  
  /* @media(min-width:570px) and (max-width:1117px) {
  
      .servicioThree > div{
          display: block;
          text-align: center;
      }
  
      .imagenServicioReducida{
          margin-top: 40px;
      }
      
  } */
  
  /* PIE DE PAGINA */
  
  .pie-de-pagina{
      text-decoration: none;
  }
  
  /* PIE DE PAGINA FIN */
  
  
  